<h1></h1>
<div class="coupon_bar clearfix"><div class="coupon_title">Did somebody say discount?</div>
  <div class="coupon_text">Free shipping on orders $75 or more (US only)</div>
</div>
<div class="main_right">
  <a class="detail_link" href=""></a>
  <a class="detail_img" href="" target="_blank">
  	<img src="<%= Image %>" style="border-width:0px;">
  </a>
  <ul class="tags_shirt clearfix"><li>Tags:</li>
      <li><a class="btn" href="/shirt/tag/1/snorg-tees/">Snorg Tees</a></li>
    </ul>
</div>