<a class="logo" href="#"><img src="/img/logo.png" /></a>
<div style="float:right;">
  <div id="navBar" class="clearfix">
    <!-- START SEARCH -->
    <div class="search clearfix">
      <input type="text" id="inpSearch" class="inpSearch" />
      <a id="btnSearch" class="btn btnSearch"><span>Search</span></a>
    </div>
    <!-- END SEARCH -->  
    <div class="nav clearfix">
      <ul>
        <li><a href="http://t-shirts-blog.damptshirts.com/">T-Shirt Blog</a></li>
        <li><a href="/t-shirt-coupons/">T-Shirt Coupons and Codes</a></li>
        <li class="cog">Popular Tags
          <ul class="top_tags"></ul>
        </li>
      </ul>
    </div>
  </div>
</div>