<div id="logo"></div>
<div style="float:right;">
  <div id="navBar" class="clearfix">
    <!-- START SEARCH -->
    <div class="search clearfix">
      <input type="text" id="inpSearch" class="inpSearch" />
      <a id="btnSearch" class="btn btnSearch"><span>Search</span></a>
    </div>
    <!-- END SEARCH -->  
    <div class="nav clearfix">
      <ul class="nav nav-pills">
        <li><a href="http://t-shirts-blog.damptshirts.com/">T-Shirt Blog</a></li>
        <li><a href="/t-shirt-coupons/">T-Shirt Coupons and Codes</a></li>
        <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Popular Tags</a>
          <ul class="dropdown-menu"></ul>
        </li>
      </ul>
    </div>
  </div>
</div>