<div style="float:left; width:100%;" class="clearfix">
    <h1>Welcome</h1>  
    <div class="sort module_1 b_margin_10" id="sortOptions">
        <a class="btn btn_blue floatleft" href="/tag-list/">Browse by Tag</a>
        <span class="btn btn_blue floatright l_margin_5 sortON" id="btnMostRecent">Most Recent</span>
        <span class="btn btn_blue floatright l_margin_5" id="btnLeast">Least Liked</span>
        <span class="btn btn_blue floatright l_margin_5" id="btnMost">Most Liked</span>
        <div class="clear"></div>
    </div> 
    <div class="shirts"></div>
</div>